<h3>customers#edit</h3>

  <h2>会員情報編集</h2>
   <div class = "table">
     <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>
       <tbody>
         <tr>
          <th colspan="2"></th>
          <th>会員ID</th>
           <td><%= @customer.id %></td>
          <th>氏名</th>
            <td><%= f.text_field :last_name %></td>
            <td><%= f.text_field :first_name %></td>

           <th>フリガナ</th>
            <td><%= f.text_field :last_name_kana %></td>
            <td><%= f.text_field :first_name_kana %></td>

           <th>郵便番号</th>
            <td><%= f.text_field :postal_code %></td>

           <th>住所</th>
            <td><%= f.text_field :address %></td>

           <th>電話番号</th>
            <td><%= f.text_field :telephone_number %></td>

           <th>メールアドレス</th>
            <td><%= f.text_field :email %></td>
             
          <td><br><%= f.submit '変更を保存', class:"btn btn-success" %><br /></td>
          <!--以下、パス分かるまでコメントアウト-->
          <td><%#= link_to "退会する", %></td>
       </tr>
      <% end %>
     </tbody>
  </div>
