<p class ="text-success"><%= notice %></p>
<p class ="text-danger"><%= alert %></p>

<div class="container">
  <div class ="row">
    <h4 class ="px-5 bg-light">会員情報編集</h4>
  </div>

   <div class="row">
     <%= form_with model: @customer, url: customer_path(@customer.id), method: :patch do |f| %>


         <div class="field form_group row mb-4">
          <td>
          <th><%= f.label "氏名", class: "col-4" %></th>
            <%= f.text_field :last_name,class: "col-4" %>
            <%= f.text_field :first_name, class: "col-4" %>
          </td>
         </div>

          <div class="field form_group row mb-4">
           <th><%= f.label "フリガナ", class: "col-4" %></th>
            <td><%= f.text_field :last_name_kana,class: "col-4" %></td>
            <td><%= f.text_field :first_name_kana,class: "col-4" %></td>
          </div>

            <div class="field form_group row mb-4">
              <th><%= f.label "郵便番号", class: "col-4" %></th>
               <td><%= f.text_field :postal_code,class: "col-4" %></td>
            </div>

             <div class="form-group row">
             <th><%= f.label "住所", class: "col-4" %></th>
              <td><%= f.text_field :address,class: "col-8" %></td>
           </div>


           <div class="form-group row">
           <th><%= f.label "電話番号", class: "col-4" %></th>
            <td><%= f.text_field :telephone_number,class: "col-8" %></td>
           </div>

          <div class="form-group row">
           <th><%= f.label "メールアドレス", class: "col-4" %></th>
            <td><%= f.text_field :email,class: "col-8" %></td>
          </div>


            <div class="mx-auto">
               <%= f.submit '変更を保存', class:"btn btn-success" %>

               <%= link_to "退会する", quit_path, class:"btn btn-danger" %>
           </div>
        </div>
      <% end %>
     </div>
