<p class ="text-success"><%= notice %></p>
<p class ="text-danger"><%= alert %></p>
<div>
  <div class ="row">
   <div class="col-1"></div>
   <div class="col-11">
    <h4 class ="px-5 bg-light">会員情報編集</h4>
     <%= form_with model: @customer, url: customer_path(@customer.id), method: :patch do |f| %>
        <div class="row form-group">
         <div class="col-6">
          <th>会員ID</th>
           <td><%= @customer.id %></td>
          </div>
         </div>
         
         <div class="row form-group">
          <div class="col-6">
          <th>氏名</th>
            <td><%= f.text_field :last_name, :size=>"25" %></td>
            <td><%= f.text_field :first_name, :size=>"25" %></td>
           </div>
         </div>

          <div class="row form-group">
           <div class="col-6">
           <th>フリガナ</th>
            <td><%= f.text_field :last_name_kana, :size=>"25" %></td>
            <td><%= f.text_field :first_name_kana, :size=>"25" %></td>
           </div>
          </div>
          
            <div class="row form-group">
             <div class="col-6">
              <th>郵便番号</th>
               <td><%= f.text_field :postal_code, :size=>"25" %></td>
              </div>
            </div>
             
             <div class="row form-group">
              <div class="col-6">
           <th>住所</th>
            <td><%= f.text_field :address, :size=>"25" %></td>
           </div>
           </div>
           
           
           <div class="row form-group">
            <div class="col-6">
           <th>電話番号</th>
            <td><%= f.text_field :telephone_number, :size=>"25" %></td>
           </div>
           </div>

          <div class="row form-group">
           <div class="col-6">
           <th>メールアドレス</th>
            <td><%= f.text_field :email, :size=>"25" %></td>
          </div>
          </div>


            <div class="mx-auto">
               <%= f.submit '変更を保存', class:"btn btn-success" %>

               <%= link_to "退会する", quit_path, class:"btn btn-danger" %>
         </div>
        </div>
      <% end %>
     
  </div>
