<div class="container">
  <div class="row">
    <h3 class="px-5 bg-light">商品一覧</h3>
    <div class="offset-11">
      <%= link_to new_admin_item_path do %>
        <i class="fas fa-plus-circle fa-3x mb-2"></i>
      <% end %>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead class="bg-light">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= link_to item.name, admin_item_path(item) %></tdz>
          <td><%= item.price_without_tax.to_s(:delimited) %></td>
          <td><%= item.genre.genre_name %></td>
          <% if item.is_active == true %>
            <td>販売中</td>
          <% else %>
            <td>販売停止中</td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
     <div style="text-align:center;">
      <%= paginate @items %>
    </div>
  </div>
</div>





