<% if @item.errors.any? %>
  <%= @item.errors.count %>件のエラーが発生しました
  <ul>
    <% @item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>商品新規登録</h1>

<%= form_with model: @item, url: "/admin/items", method: :post do |f| %>
  <div class="form_group">
    <%= label :image, "商品画像" %>
    <%= f.file_field :image, accept: "image/*" %>
  </div>
  <div class="form-group">
    <%= label :name, "商品名" %>
    <%= f.text_field :name, placeholder: "商品名" %>
  </div>
  <div class="form-group">
    <%= label :opinion, "商品説明" %>
    <%= f.text_area :opinion, placeholder: "ここに説明文を記述します" %>
  </div>
  <div class="form_group">
    <%= label :genre_id, "ジャンル" %>
    <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :genre_name), {prompt: "-- 選択してください"} %>
  </div>
  <div class="form-group">
    <%= label :price_without_tax, "税抜価格" %>
    <%= f.text_field :price_without_tax, placeholder: "1000" %>
  </div>
  <div class="form_group">
    <%= label :is_active, "販売ステータス" %>
    <span>
      <%= f.radio_button :is_active, true %>
      <%= f.label :is_active, "販売中", value: true %>
      <%= f.radio_button :is_active, false %>
      <%= f.label :is_active, "販売停止中", value: false %>
    </span>
  </div>
  <%= f.submit "新規登録" %>
<% end %>
