<div class="container">
 <div class="row">
  <h2>会員一覧</h2>
   </div>

  <div class ="row col-lg-10">
    <table class ="table">
      <thead class ="defalut">
       <tr>
         <th>会員ID</th>
         <th>氏名</th>
         <th>メールアドレス</th>
         <th>ステータス</th>
       </tr>
     </thead>
      <tbody>
        <% @customers.each do |customer| %>
         <tr>
          <td><%= customer.id %></td>
          <td><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id) %></td>
          <td><%= customer.email %></td>
          <td>
            <% if customer.is_deleted == false %>
              <%= '有効' %>
            <% else %>
              <%= '退会' %>
            <% end %>
          </td>
         </tr>
        <% end %>
      </tbody>
      </table>
    </div>
    <!--ページネーション　仮置き(kaminari導入まで)-->
   <div class="row align-bottom">
    <div class="mx-auto">
      <div class="pagenation">
        <table class="defalut">
         <tr>
          <th><%= link_to "1", admin_customers_path %></th>
          <th><%= link_to "2", admin_customers_path %></th>
          <th><%= link_to "3", admin_customers_path %></th>
          <th><%= link_to "next >", admin_customers_path %></th>
          <th><%= link_to "last >>", admin_customers_path %></th>
        </tr>
       </table>
     </div>
    </div>
  </div>
</div>