<div class="contener">
 <div class="row">
  <div class="col-lg-3">
  <h4><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細情報</h4>
  </div>
  </idv>

     <div class="row">
      <div class="col-lg-12">
          会員ID
          <%= @customer.id %>

         氏名
          <%= @customer.last_name %><%= @customer.first_name %>

         フリガナ<%= @customer.last_name_kana %><%= @customer.first_name_kana %>


         郵便番号
          <%= @customer.postal_code %>

         住所
          <%= @customer.address %>

         電話番号
           <%= @customer.telephone_number %>

         メールアドレス
          <%= @customer.email %>

         会員ステータス
           <% if @customer.is_deleted == false %>
            <%= '有効' %>
           <% else %>
            <%= '退会' %>
           <% end %>
         </div>
        </div>

         <%= link_to "編集する",edit_admin_customer_path(@customer.id),class: "btn btn-success" %>
         <%= link_to "注文一覧履歴を見る",admin_root_path, class: "btn btn-primary" %>

    </tbody>
   </div>
 </div>
</div>