<div>
  <table>
  <h1>注文履歴詳細</h1>
    <th>購入者</th>
    <td>
        <%=  @order.customer.last_name %>
        <%=  @order.customer.first_name %>
    </td>
    <th>注文日</th>
    <td>
        <%= @order.created_at.strftime('%Y/%m/%d %H:%M') %>
    </td>
    <th>配送先</th>
    <td>
        <%= @order.delivery_address %></br>
        <%= @order.delivery_name %>
    </td>
    <th>支払い方法</th>
    <td>
        <%= @order.payment_method_i18n %>
    </td>
    <th>注文ステータス</th>
    <%= form_for (@order, url: admin_order_path(@order), method: :patch) do |f| %>
    <td>
        <%= f.select :order_status, Order.statuses_i18n.invert %>
        <%= f.submit '更新',class:"btn" %>
    </td>
    <% end %>
  </table>
  
  <table>
      <thead>
          <tr>
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
              <th>制作ステータス</th>
          </tr>
      </thead>
      <tbody>
        <% @order_details.each do |order_detail| %>
          <tr>
              <th>
                <%= order_detail.item.name %>
              </th>
              <th>
                ¥<%= order_detail.price_including_tax  %>
              </th>
              <th>
                <%= order_detail.quanity %>
              </th>
              <th>
                ¥<%= order_detail.quanity * order_detail.price_including_tax %>
              </th>
              <%= form_for(order_detail, url: admin_order_detail_path(order_detail), method: :patch) do |f| %>
              <th>
                <%= f.select :make_status, OrderDetail.make_statuses_i18n.invert %>
                <%= f.submit '更新'  ,class: "btn" %>
              </th>
              <% end %>
          </tr>
        <% end %>
      </tbody>
    <table>
        <tr>
            <th>商品合計</th>
            <td>¥<%= @total_price %></td>
        </tr>
        <tr>
            <th>送料</th>
            <td>¥<%= @order.postage %></td>
        </tr>
        <tr>
            <th>請求金額合計</th>
            <td>¥<%= @order.total_price %></td>
        </tr>
    </table>
</div>