<div　class = "container">
  <h1>注文履歴詳細</h1>

  <table>
    <tbody>
      <tr>
        <th>購入者</th>
        <td>
          <%=  @order.customer.last_name %>
          <%=  @order.customer.first_name %>
        </td>
      </tr>
      <tr>
        <th>注文日</th>
        <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td>
        〒<%= @order.delivery_address %></br>
        <%= @order.delivery_name %>
        </td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td><%= @order.payment_method_i18n %></td>
      </tr>
      <tr>
        <th>注文ステータス</th>
        <td>
          <%= form_with model: @order,url: admin_order_path, method: :patch do |f| %>
            <%= f.select :order_status, Order.order_statuses_i18n.invert %>
      　　    <%= f.submit '更新', class: "btn "%>
      　　<% end %>
    　　</td>
      </tr>
    </tbody>
  </table>
  <table>
      <thead>
          <tr>
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
              <th>制作ステータス</th>
          </tr>
      </thead>
      <tbody>
        <% @order_details.each do |order_detail| %>
          <tr>
              <td>
                <%= order_detail.item.name %>
              </td>
              <td>
                ¥<%= (order_detail.price_including_tax).floor  %>
              </td>
              <td>
                <%= order_detail.quantity %>
              </td>
              <td>
                ¥<%= (order_detail.quantity * order_detail.price_including_tax).floor %>
              </td>
              <td>
              <%= form_with model: order_detail, url: admin_order_detail_path(order_detail), method: :patch do |f| %>
                <%= f.select :make_status, OrderDetail.make_statuses_i18n.invert %>
                <%= f.submit '更新' , class: "btn" %>
              <% end %>
              </td>
          </tr>
        <% end %>
      </tbody>
    <table>
        <tr>
            <th>商品合計</th>
            <td>¥<%= @total_price.floor %></td>
        </tr>
        <tr>
            <th>送料</th>
            <td>¥<%= @order.postage %></td>
        </tr>
        <tr>
            <th>請求金額合計</th>
            <td>¥<%= @order.total_price %></td>
        </tr>
    </table>
</div>