<div class='container'>
  <h3>配送先編集</h3>
  <%= form_with model: @address, local:true ,method: :patch do |f| %>
  <div class="form-inline">
    <%= f.label :postal_code, '郵便番号（ハイフンなし）' %>
    <%= f.text_field :postal_code, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address, '住所' %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :name, '宛名' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="input-group-btn">
    <%= f.submit '変更内容を保存',class: 'btn btn-success' %>
  </div>
  <% end %>
  <%= link_to 'Back', addresses_path %>
</div>