

  <h2>注文情報確認</h2>
  <%#= form_with model: @order, url: confirm_path, method: :post do |f| %>
   <table class="table">
    <thead>
     <% @cart_items.each do |cart_item| %>
       <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
       </tr>
     </thead>
      <tbody>
       <td><%= image_tag cart_item.item.image, size: "70x70" %><%= cart_item.item.name %></td>
       <td><%= (cart_item.item.price_without_tax * 1.1).floor %></td>
       <td><%= cart_item.quantity %>個</td>
       <td><%= (cart_item.item.price_without_tax * 1.1).floor * (cart_item.quantity) %></td>
      </tbody>
    <% end %>
   </table>

   <div class="table">
     <% @cart_items.each do |cart_item| %>
     <tr>
       <th>送料</th>
        <td><%= @order_postage %></td>
       <th>合計</th>
        <td><%= (cart_item.item.price_without_tax * 1.1).floor * (cart_item.quantity) %></td>
       <th>請求金額</th>
        <td><%= (cart_item.item.price_without_tax * 1.1).floor * (cart_item.quantity) + @order_postage  %></td>
     </tr>
     <% end %>
   </div>


  <P>支払い方法</P>
    <%= @order.payment_method_i18n %>
  <p>お届け先</p>
    <%= %>
    <%= %>

   <%= link_to "注文を確定する", complete_path, class: "btn btn-success" %>
   <%= link_to "戻る", new_path %>
   
 <%# end %>