<div class="container">
  <p class ="text-danger"><%= alert %></p>
  <div class ="row">
    <h3 class ="px-5 bg-light">注文情報確認</h3>
  </div>
  <div class ="row">
    <div class ="col-8">
      <table class ="table table-bordered">
        <thead class ="bg-light">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= image_tag cart_item.item.image, size: "80x50" %>
                <%= cart_item.item.name %>
              </td>
              <td>
                <%= (cart_item.item.price_without_tax*1.1).floor.to_s(:delimited) %>
              </td>
              <td>
                <%= cart_item.quantity %>
              </td>
              <td>
                <%= ((cart_item.item.price_without_tax*1.1).floor*cart_item.quantity).to_s(:delimited) %>
                <% @total_price += (cart_item.item.price_without_tax*1.1).floor*cart_item.quantity %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class ="col-4">
      <table class ="table table-bordered">
        <tr>
          <td class ="bg-light">送料</td>
          <td><%= @postage %></td>
        </tr>
        <tr>
          <td class ="bg-light">商品合計</td>
          <td><%= @total_price.to_s(:delimited) %></td>
        </tr>
        <tr>
          <td class ="bg-light">請求金額</td>
          <td><%= (@postage + @total_price).to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class ="row mt-3">
    <div class ="col-12">
      <table class ="table table-dark">
        <tr>
          <td>支払方法</td>
         <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <td>お届け先</td>
          <td><%= "〒" + @order.postal_code + @order.delivery_address %><br><%= @order.delivery_name %></td>
        </tr>
      </table>
    </div>
  </div>

  <div style="text-align:center;">
    <div class="form-group mt-5">
    <%= form_with model: @order, url: orders_path, nethod: :post do |f| %>
      <%=f.hidden_field :delivery_address, :value => @order.delivery_address %>
      <%= f.hidden_field :postal_code, :value => @order.postal_code %>
      <%= f.hidden_field :delivery_name, :value => @order.delivery_name %>
      <%= f.hidden_field :postage, :value => @postage %>
      <%= f.hidden_field :total_price, :value => @postage+@total_price %>
      <%= f.hidden_field :payment_method, :value => @order.payment_method %>
      <div>
        <%= f.submit "注文を確定する" , class: "btn btn-success"%>
      </div>
    <% end %>
    </div>
  </div>
</div>