

<h1>注文情報入力</h1>
  <%= form_with model: @order, url: confirm_path, method: :post do |f| %>
   <span class>支払い情報</span>
      <div class= "form">
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
      </div>

     <div class="form">
       <%= f.radio_button :delivery_address, :your_own_address %>
       <%= f.label :delivery_address, "ご自身の住所" %><br />
       〒<%= current_customer.postal_code %>
         <%= current_customer.address %>
         <%= current_customer.last_name %><%= current_customer.first_name %><br />

       <%= f.radio_button :delivery_address, :registered_delivery_address %>
       <%= f.label :delivery_address, "登録済み住所から選択" %>
      <!--プルダウン部分-->
        <%= f.select :delivery_address, options_from_collection_for_select(current_customer.addresses, :id, :address), prompt: "選択してください" %>


       <%= f.radio_button :delivery_address, :new_delivery_address %>
       <%= f.label :delivery_address, "新しいお届け先" %><br />

       <%= f.label :postal_code, "郵便番号" %>
       <%= f.text_field :postal_code %>

       <%= f.label :address, "住所" %>
       <%= f.text_field :address %>

       <%= f.label :delivery_name, "宛名" %>
       <%= f.text_field :delivery_name %>
     </div>

     <%= f.submit "確認画面に進む", class: "btn btn-prymary" %>

 <% end %>