<div class = "container">
  <p class ="text-danger"><%= alert %></p>
    <div class ="row">
      <h3 class ="px-5 bg-light">注文情報入力</h3>
    </div>
    <%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
      <h5 class="font-weight-bold">支払方法</h5>
      <div class="form-group ml-5">
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
        </br>
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
      </div>
      <div>
        <h5 class="font-weight-bold">お届け先</h5>
        <div class ="ml-5">
          <div class="form-group">
            <%= f.radio_button :select_address, 0 %>
            <%= f.label :select_address_0, "ご自身の住所" %>
            <div class ="ml-4">
              〒<%= current_customer.postal_code %> <%= current_customer.address %><br>
                <%= current_customer.last_name %><%= current_customer.first_name %>
            </div>
          </div>
        </div>

        <div class ="ml-5">
          <%= f.radio_button :select_address, 1 %>
          <%= f.label :select_address_1, "登録済み住所から選択" %>
          <div class ="form-select form-select-lg mb-3 ml-4 row ">
            <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses.all, :id, :address_display) %>
          </div>
        </div>

        <div class ="ml-5">
          <%= f.radio_button :select_address, 2 %>
          <%= f.label :select_address_2, "新しいお届け先" %>
          <div class="form-group row ml-4">
            <%= f.label :postal_code, "郵便番号（ハイフンなし）",class: "col-4"%>
            <%= f.text_field :postal_code, placeholder: "0000000",class: "col-5" %>
          </div>
          <div class="form-group row ml-4">
            <%= f.label :delivery_address, "住所",class: "col-4" %>
            <%= f.text_field :delivery_address, placeholder: "東京都渋谷区代々木神園町0-0" ,class: "col-8"%>
          </div>
          <div class="form-group row ml-4">
            <%= f.label :delivery_name, "宛名",class: "col-4"%>
            <%= f.text_field :delivery_name, placeholder: "令和道子",class: "col-5"%>
          </div>
        </div>
      </div>
      <div style="text-align:center;">
        <div class="form-group mt-5">
          <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
</div>