<h1>商品詳細ページ</h1>

<div>
  <%= image_tag @item.image, size: "400x300" %>
  <h3><%= @item.name %></h3>
  <p><%= @item.opinion %></p>
  <h3>¥<%= (@item.price_without_tax*1.1).floor.to_s(:delimited) %>(税込)</h3>
</div>


<% if customer_signed_in? %>
  <div>
    <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.select :quantity, *[1..10] %>
      <%= f.submit "カートに入れる" %>
    <% end %>
  </div>
<% end %>
