<div class="container">
  <div class="row">
    <h3 class="px-5 bg-light">商品詳細</h3>
  </div>
  <div class="row">
    <div class="col-5">
      <%= image_tag @item.image, size: "400x300" %>
    </div>
    <div class="col-7">
      <h3 class="font-weight-bold"><%= @item.name %></h3>
      <p><%= @item.opinion %></p>
      <h3>¥<%= (@item.price_without_tax*1.1).floor.to_s(:delimited) %>(税込)</h3>
      <% if customer_signed_in? %>
        <div>
          <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.select :quantity, *[1..10] %>
            <%= f.submit "カートに入れる", class: "btn btn-success" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>








