<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <span class="navbar-brand p-3">Nagano Cake</span>
      <div>
        <ul class="navbar-nav pt-3">
          <li>
            <%= link_to "商品一覧", admin_items_path, class: "nav-link", style: "color:white;" %>
          </li>
          <li>
            <%= link_to "会員一覧", admin_customers_path, class: "nav-link", style: "color:white;" %>
          </li>
          <li>
            <%=link_to "注文履歴一覧", admin_root_path, class: "nav-link", style: "color:white;" %>
          </li>
          <li>
            <%= link_to "ジャンル一覧", admin_genres_path, class: "nav-link", style: "color:white;" %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link", style: "color:white;" %>
          </li>
        </ul>
        <div class="input-group col-8 pt-3 offset-4">
          <input type="text" id="txt-search" class="form-control input-group-prepend" placeholder="Search"></input>
          <span class="input-group-btn input-group-append">
            <submit type="submit" id="btn-search" class="btn btn-primary"><i class="fas fa-search"></i> 検索</submit>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>